<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авто-Сервис</title>
</head>
<body>
    <h1>Управление автосервисом</h1>
    <nav>
        <a href="{{ url_for('index') }}">Главная</a> |
        <a href="{{ url_for('clients') }}">Клиенты</a> |
        <a href="{{ url_for('orders') }}">Заказы</a> |
        <a href="{{ url_for('new_order_form') }}">Новый заказ</a> |
        <a href="{{ url_for('stats') }}">Статистика</a>
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>